.currencyStyle{
    display: flex;
    flex-direction: row;
    padding: 15px;
}
.wrapper{
    margin-left: 15px;
}
.mainLink{
    position: absolute;
    left: 47%;
    right: 50%;
}
.buttonLogin{
    color:black;
    font-size: 20px;
    font-family: Consolas;
    background: darkgray;
    width: 210px;
    border: 2px solid black;
}
.buttonLogin:hover{
    color: white;
    border: 2px solid white;
    cursor: pointer;
}
